markdown:
  Make sure you have asciinema recorder [installed](/#{ENV['RAILS_RELATIVE_URL_ROOT']}/docs/installation).

  To start recording run the following command in your terminal:

      $ asciinema --insecure rec

  When you're ready to finish just exit the shell (either by typing `exit`
  or hitting `<C-d>`).
